@font-face {
    font-family: "Test";
    src: url("../assets/fonts/289_Nicotine\ Stains.woff2"), url("../assets/fonts/289_Nicotine\ Stains.woff");
}

@font-face {
    font-family: "Test1";
    /* src: url("../assets/fonts/292_Soopafresh.eot"), url("../assets/fonts/292_Soopafresh.woff"), url("../assets/fonts/292_Soopafresh.woff2"); */
    src:
        url("../assets/fonts/392_Tahoma.eot"),
        url("../assets/fonts/392_Tahoma.woff"),
        url("../assets/fonts/392_Tahoma.woff2");
}

body {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

* {
    box-sizing: border-box;
}

canvas {
    /* width:100%; */
    /* border-radius: 8px; */
    /* border: 4px solid #444; */
    /* box-shadow: 0px 0px 30px #222; */
    width: 100vw;
    height: auto;
    display: block;
    background: white;
    background: linear-gradient(to bottom, skyblue, white);
}

.landscape {
    transform-origin: 50% 50%;
    transform: rotate(90deg);
}